In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
df = pd.read_excel('use_data/침수관련_데이터.xlsx')
df2 = pd.read_excel('use_data/교통사고_데이터.xlsx')

display(df.head(), df2.head())

,자치구(구),날짜,1hr 최대 강수량(mm),일평균 강수량(mm),경사도(˚),해발고도(m),불투수면(%),녹지 면적율(%),하천 면적율(%),복개하천 개수(개),맨홀 개수(개),빗물받이 개수(개),빗물 펌프 개수(개),[AVG] 하수관로 비율(%),[MAX] 하수관로 비율(%),침수 피해(0/1)
0,종로,20180601,0.0,0.0,12.033665,146.699945,0.42017,0.009418,0.011652,1,9854,16173,0,0.009084,0.033333,0
1,종로,20180602,0.0,0.0,12.033665,146.699945,0.42017,0.009418,0.011652,1,9854,16173,0,0.008864,0.033333,0
2,종로,20180603,0.0,0.0,12.033665,146.699945,0.42017,0.009418,0.011652,1,9854,16173,0,0.008182,0.033333,0
3,종로,20180604,0.0,0.0,12.033665,146.699945,0.42017,0.009418,0.011652,1,9854,16173,0,0.008745,0.033333,0
4,종로,20180605,0.0,0.0,12.033665,146.699945,0.42017,0.009418,0.011652,1,9854,16173,0,0.008753,0.033333,0

  자치구        날짜 [AVG] 하수관로 비율(%) [MAX] 하수관로 비율(%)  사고[건]
0  종로  20180601         0.009084         0.033333      4
1  종로  20180602         0.008864         0.033333      4
2  종로  20180603         0.008182         0.033333      3
3  종로  20180604         0.008745         0.033333      2
4  종로  20180605         0.008753         0.033333      8

In [3]:
df.loc[df['[AVG] 하수관로 비율(%)'] == 'na', '[AVG] 하수관로 비율(%)'] = np.NaN
df.loc[df['[MAX] 하수관로 비율(%)'] == 'na', '[MAX] 하수관로 비율(%)'] = np.NaN

df2.loc[df2['[AVG] 하수관로 비율(%)'] == 'na', '[AVG] 하수관로 비율(%)'] = np.NaN
df2.loc[df2['[MAX] 하수관로 비율(%)'] == 'na', '[MAX] 하수관로 비율(%)'] = np.NaN

In [4]:
col = ['1hr 최대 강수량(mm)', '일평균 강수량(mm)', '경사도(˚)', '해발고도(m)', '불투수면(%)', '녹지 면적율(%)', '하천 면적율(%)', '복개하천 개수(개)', 
          '맨홀 개수(개)', '빗물받이 개수(개)', '빗물 펌프 개수(개)', '[AVG] 하수관로 비율(%)', '[MAX] 하수관로 비율(%)']

col2 = ['[AVG] 하수관로 비율(%)', '[MAX] 하수관로 비율(%)', '사고[건]']

stand_scale = StandardScaler()
minmax_scale = MinMaxScaler()
df_standard = df.copy()
df_minmax = df.copy()
df2_standard = df2.copy()
df2_minmax = df2.copy()

df_standard[col] = stand_scale.fit_transform(df_standard[col])
df_minmax[col] = minmax_scale.fit_transform(df_minmax[col])

df2_standard[col2] = stand_scale.fit_transform(df2_standard[col2])
df2_minmax[col2] = minmax_scale.fit_transform(df2_minmax[col2])

In [5]:
df_standard.to_csv('use_data/침수관련_데이터_표준화.csv', index=False)
df_minmax.to_csv('use_data/침수관련_데이터_정규화.csv', index=False)
df2_standard.to_csv('use_data/교통사고_데이터_표준화.csv', index=False)
df2_minmax.to_csv('use_data/교통사고_데이터_정규화.csv', index=False)